<div class="container mt-5">

  <div class="row  mt-5">
    <div class="col-xs-12 col-sm-8 col-md-6">
      <div class="input-group mb-3">
        <input type="text" class="form-control"
        #inputBox 
        aria-label="Default" aria-describedby="inputGroup-sizing-default">
      </div>
    </div>
  </div>
</div>


<div class="mt-5" id="dragDropContainer">
  <h5 class="mt-5 mb-5">Drag / Drop</h5>
  <div id="dragContainer">
    <div class="dragable" id="drag"></div>
  </div>
  <div class="row mt-5 pl-5">
  </div>
</div>

<ul>
  <li class="drop-area">Drop Area 1</li>
  <li class="drop-area">Drop Area 2</li>
  <li class="drop-area">Drop Area 3</li>
  <li class="drop-area">Drop Area 4</li>
  <li class="drop-area">Drop Area 5</li>
  <li class="drop-area">Drop Area 6</li>
</ul>





