
#dragContainer {
  position: relative;
}
.dragable {
    transition: background 250ms;
    background: #aaa;
    width: 30px;
    height: 30px;
    position: absolute;
    cursor: move;
    border: 5px solid #444;
    top: 0;
    left: 0;
    z-index: 10000;
}

.dragable.dragging {
    background: #555;
    pointer-events: none;
}

 div#drag.dragable.dragging {
    pointer-events: none;
}

.drop-area {
    transition: background 250ms;
    padding: 10px;
    font-size: 35px;
    background: #007acc;
    margin: 30px 0;
    width: 100%;
    display: block;
    color: #fff;
}

.drop-area.dropped {
    background: #fee200;
    color: #000;
}